.container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .summaryContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .summaryItem {
    text-align: center;
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .summaryValue {
    font-size: 24px;
    font-weight: bold;
  }
  
  .historyChart {
    height: 200px;
    background-color: #B2BEB5;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: ##000000;
  }
  